header{

    display: flex;

    justify-content: center;
    align-items: center;
}

main{
justify-content: left;

}

p{
    max-width: none;

}

img{
    max-width: 99%;



}
P,img{
    flex-wrap: wrap;
}

p img{
    display: flex;
    justify-content: right;
}


@media (max-width:722px){
   
}