body{
    display: flex;





    flex-direction: column;

    flex-wrap: wrap;


}


header{



    background-color: #ccc;

}

header h1,main {
    display: flex;
    



    justify-content: flex-start;

    flex-wrap: wrap;

    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    

}

.space-around{
    display: flex;
    justify-content: space-around;

    padding: 2rem;
}

.coluna{
    display: flex;
    flex-direction: column;



    
}

.linha{
    display: flex;

    flex-direction: row;



}

.all{
    display: block;
    padding: 0.5rem;

    flex-wrap: nowrap;
}

img,p,h3{
    padding: 0.5rem;


}

p{
    max-width: 20rem;
}



@media (max-width:1164px){
    .linha{
        flex-wrap: wrap;
    }
}